<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card m-3">
        <div class="card-body py-0">
          <form id="add">
            <textarea
              class="form-control my-2"
              rows="6"
              name="note"
              placeholder="Add notes here..."
            ></textarea>
            <button class="btn btn-primary me-2" type="submit">Add note</button>
            <button class="btn btn-danger ms-0" type="reset">Clear</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 notes" id="notes">
    </div>
  </div>
</div>